/* 简易头部 */
.lan-header
{
    height:70px;
    border-bottom:solid 1px #939393;
    line-height:70px;
}

.lan-header-main
{
    background-color:#f7f7f8;
    height:50px;
    line-height:50px;
}

/* 首页头部 */
.lan-header-main .breadcrumb
{
    padding:0px;
    position:relative;
    margin-bottom: 0px;
}
.lan-header-main .label-danger
{
    padding:1px 4px;
    font-weight:normal;
}
.lan-header-main .logo
{
    margin-top:8px;
}

.lan-main-menu
{
    background-color:#e0e0e0;
    height: 50px;
    width: 100%;
}
.lan-main-menu li
{
    min-width: 100px;
    text-align: center;
}
.lan-main-menu .dropdown-menu li
{
    text-align: left;
}
.lan-main-menu li a
{
    color:#333;
    font-size:14px;
}
.lan-main-menu li.active
{
    background: #67ab3a;
}
.lan-main-menu li.active a,.lan-main-menu li.active:hover a
{
    color:#ffffff;
    font-weight: bold;
    background: #50852c;
    background-image:-webkit-linear-gradient(top,#50852c,#69ae3a);
    background-image:-o-linear-gradient(top,#50852c,#69ae3a);
    background-image:-ms-linear-gradient(top,#50852c,#69ae3a);
    background-image:linear-gradient(top,#50852c,#69ae3a);
    background-repeat: repeat-x;
}
.lan-main-menu .nav>li{margin-right:1px;}
.lan-main-menu .nav>li>a:hover, .nav>li>a:focus{
    background: #7e7e7e;
    background-image:-webkit-linear-gradient(top,#666,#979797);
    background-image:-o-linear-gradient(top,#666,#979797);
    background-image:-ms-linear-gradient(top,#666,#979797);
    background-image:linear-gradient(top,#666,#979797);
    background-repeat: repeat-x;
}

.btn{border-radius:0;}

.btn-success{
    background: #50993d;
    background-image:-webkit-linear-gradient(top,#58b046,#4a8737);
    background-image:-o-linear-gradient(top,#58b046,#4a8737);
    background-image:-ms-linear-gradient(top,#58b046,#4a8737);
    background-image:linear-gradient(top,#58b046,#4a8737);
    background-repeat: repeat-x;
    border:none;
}

.lan-main-menu .search .btn-small{
    background:#ebebeb;
    border:solid 1px #ccc;;
    color:#333;
    border-radius: 0;
}
.lan-main-menu .search .btn-small:hover{
    background:#004486;
    border:solid 1px #004486;
    color:#fff;
}

.btn-success:hover{
background:#004486;
}
.btn-primary{
    background:#0567b1;
    border-color:#0567b1;
}

.lan-main-menu .dropdown-menu{
    background:#f5f5f5;
}
.lan-main-menu .dropdown-menu li a:hover{
    background: #7e7e7e;
    background-image:-webkit-linear-gradient(top,#666,#979797);
    background-image:-o-linear-gradient(top,#666,#979797);
    background-image:-ms-linear-gradient(top,#666,#979797);
    background-image:linear-gradient(top,#666,#979797);
    background-repeat: repeat-x;
    color:#fff;
}

.lan-main-menu li:hover>a
{
    color:#fff;
}
.lan-main-menu .search
{
    width:400px;
    line-height: 50px;
}
.lan-main-menu .search .input-group
{
    margin-top: 12px;
    width:190px;
    float:left;
    margin-right: 5px;
}
.lan-main-menu .btn-small
{
    padding: 4px 7px;
    font-size: 12px;
}
.lan-main-menu .btn-middle
{
    padding: 4px 15px;
    font-size: 12px;
    margin-left: 48px;
}

/* footer */
.lan-footer
{
    background-color:#e6e6e6;
    padding:30px 0 20px 0;
    overflow:hidden;
    clear:both;
    margin-top:136px;
}
.lan-footer dl
{
    margin-right:55px;
}
.lan-footer dl dt
{
    margin-bottom:10px;
}
.lan-footer .copyright
{
    font-size: 11px;
    color: #999;
    clear: both;
}
/* 字体颜色 */
.lan-font-green{color:#50852C;}
.lan-font-black{color:#333333;}
.lan-font-white{color:#ffffff;}
.lan-font-red{color:#a94442;}
.lan-font-yellow{color:#f3c53f;}

/* 字体大小 */
.lan-font-12{font-size:12px;}
.lan-font-14{font-size:14px;}
.lan-font-16{font-size:16px;}
.lan-font-18{font-size:18px;}
.lan-font-22{font-size:22px;}

.lan-bg-f5{background-color:#f5f5f5;}
.lan-bg-e7{background-color:#e7e7e7;}

.lan-ov-hid{overflow:hidden;}

.lan-dis-iblock{display:inline-block;}



.lan-sprite-icon
{
    background:url(../../image/icon/sprite_icons.png) no-repeat 0 0;
    display:inline-block;
}
.lan-icon-admin
{
    width:19px;
    height:19px;
    background-position:-5px -5px;
    vertical-align:middle;
}

/* 菜单 */
.lan-menu
{
    background-color:#e0e0e0;
    height:40px;
}

.lan-nav li
{
    border-right:solid 1px #fff;
}
.lan-nav li a
{
    color:#333;
    padding:10px 40px;
}

.lan-nav > li:hover > a,
.lan-nav > li.active > a,
.lan-nav > li > a:focus,
.lan-nav > li:focus > a:focus
{
    color:#fff;
    background:url(../../image/common/bg_menu.png) repeat-x 0 0;
}

.btn-green
{
    color: #fff;
    background-color: #62a236;
    border:none;
}
.btn-green:hover
{
    background-color:#004486;
    color:#fff;
}
.lan-dl{margin:20px 0 0 20px;}
.lan-dl dt{margin-bottom:10px;padding-left:3px;}
.lan-dl a,.lan-dl dt a{padding:0px;font-size:14px;color:#333;}
.lan-dl a.sel{font-weight:bold;color:#50852C;}
.lan-dl dd{padding:3px 5px;}
.lan-dl dd a{color:#333;}
.lan-dl dd:hover a,.lan-dl dd a.more{color:#50852C;}
.lan-dl input{width:50px;}
.lan-dl .btn{padding:2px 12px;position:relative;top:-1px;}

.hidemod{display:none;}

.lan-tab{margin-top:20px;}
.lan-tab label{font-size:30px;color:#666;}
.lan-tab label:hover,.lan-tab label.active{color:#50852C;text-decoration:underline;}

.overlay{display:none;position: fixed;width:100%;height:100%;z-index:999;top: 0;left: 0;text-align: center;background-color: #000;opacity: 0.5;filter: alpha(opacity=50);}

.dialog_alert{padding: 15px 15px;background-color: #fff;border: 3px solid #ccc;text-align: left;z-index: 120000;position:fixed;left:50%;top:-200px;width:400px;margin:0 0 0 -200px;display:none;}
.dialog_alert .title{color:#50852c;font-size: 24px;}
.dialog_alert .body{font-size:14px;color:#333;padding-top:5px;min-height:50px;}
.dialog_alert .buttons{margin-top:10px;text-align:right;}
.dialog_alert .buttons a{margin-left:10px;padding:3px 10px;}

